@import './qs_mixin.sass'

$primary: #4361ee
$bg: #F2F7F2
$gray: #8a919f
$link: #133667

*
  padding: 0
  margin: 0
  box-sizing: border-box
body
  width: 100%
  width: 100vw
  min-height: 100%
  min-height: 100vh
  font-size: 14px
  color: black
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
  a 
    text-decoration: none
    color: $link
    transition: 0.2s ease-in
    &:hover
      color: darken($link, 10)
      
@include header

@include footer

.qs_login,.qs_register
  padding-top: 80px
  .container
    display: flex
    align-items: center
    padding-bottom: 50px
    width: 900px
    margin: 0 auto
    .left
      flex: 1
      height: 650px
      background-size: contain
      background-position: center
      background-repeat: no-repeat
    .right
      padding-left: 50px
      text-align: center
      .form,.form2
        margin-bottom: 15px
        padding: 50px    
        width: 450px
        opacity: 1
        border-radius: 8px
        border: 1px solid rgba(245, 245, 245, 1)      
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .logo
          padding-bottom: 50px
          img
            height: 30px
        input
          margin-bottom: 30px
          width: 100%
          height: 35px
          border: 1px solid rgba(229, 229, 229, 1)
          outline: none
          padding: 0 15px
          &:focus
            border: 1px solid $primary
        button
          margin-bottom: 15px
          width: 100%
          height: 35px
          opacity: 1
          border-radius: 0px
          background: rgba(42, 130, 228, 1)
          outline: none
          border: none
          color: white
      .form2
        padding: 15px
        span
          color: $primary
          font-weight: bold
      .download
        display: flex
        justify-content: center
        margin-top: 15px
        a
          padding: 0 15px
          img
            height: 40px

