footer
  .container
    ul.top
      li.first
        .title 关于
        .list 
          .desc 程序员客栈是领先的程序员自由远程工作平台，未来互联网企业用人方式。提供优秀程序员为您进行网站建设制作、测试运维服务、人工智能AI、大数据区块链、软件开发等优质服务。
          a(href="tel:0571-28120931") 电话：0571-28120931
          p 客服支持时间：周一至周五 9:30-18:30

      li
        .title 链接
        .list
          a(href="") 找人才 
          a(href="") 找兼职 
          a(href="") 关于我们
          a(href="") 隐私协议
      li
        .title 重点城市兼职推荐
        div.list
          a(href="") 中国程序员兼职
          a(href="") 美国程序员兼职
          a(href="") 加拿大程序员兼职
          a(href="") 日本程序员兼职
          a(href="") 新加坡程序员兼职
          a(href="") 缅甸程序员兼职
          a(href="") 英国程序员兼职
          a(href="") 澳大利亚程序员兼职
      li
        .title 重点岗位兼职推荐
        .list
          a(href="") PHP兼职
          a(href="") JAVA兼职
          a(href="") IOS兼职
          a(href="") Android兼职
          a(href="") Rust兼职
          a(href="") C++兼职
          a(href="") UE兼职
          a(href="") Python兼职



    .bottom 
      .copyright ©2023 Devnors® Global Inc.
      .links 
        //- a(href="") 找人才 
        //- a(href="") 找兼职 
        //- a(href="") 关于我们
        //- a(href="") 隐私协议
