header
  .container
    a.logo(href="/html/devnors_index.html") 
      img(src="../images/devnors_logo.svg", alt="")
    input.search(type="text" placeholder='搜索岗位、开发者')
    nav
      a.active(href="/html/devnors_developers.html") 找人才 
      a(href="/html/devnors_jobs.html") 找兼职 
    div.middle
    .btns
      a(href="") 在线客服
      a(href="").btn.outline 工作台
      a(href="").btn.fill 发布需求
      a.avatar(href="" style="background-image: url(https://img2.baidu.com/it/u=484991634,2354711098&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1670000400&t=a99fa5c5275ed3dbf1fa6970abfd7402)")
    //- .btns
    //-   a(href="/html/devnors_login.html").btn.outline 登录
    //-   a(href="/html/devnors_login.html").btn.fill  注册