header
  .container
    a.logo(href="") 
      img(src="../images/devnors_logo.svg", alt="")
    input.search(type="text" placeholder='搜索岗位、开发者')
    nav
      a(href="") 找人才 
      a(href="") 找兼职 
    div.middle
    .btns
      a(href="").outline 登录
      a(href="").fill  注册