footer
  .container
    .section1
      .title
        img(src="../images/capihub.png", alt="").logo
      a(href="" target="_blank") Talk to Expert
    .section2
      .title PRODUCTS
      ul
        li 
          a(href="/html/apiuni-unisms.html" target='_blank') UniSMS
        li 
          a(href="/html/apiuni-api.html" target='_blank') API
        li 
          a(href="/html/apiuni-database.html" target='_blank') Database
    .section2
      .title Company
      ul
        li 
          a(href="/html/apiuni-unisms.html" target='_blank') About
        li 
          a(href="/html/apiuni-api.html" target='_blank') Contact
        li 
          a(href="/html/apiuni-database.html" target='_blank') Terms of Service
        li 
          a(href="/html/apiuni-database.html" target='_blank') Privacy Policy
    .section2
      .title Follow us
      ul
        li 
          a(href="/html/apiuni-unisms.html" target='_blank') GitHub
        li 
          a(href="/html/apiuni-api.html" target='_blank') Twitter
        li 
          a(href="/html/apiuni-database.html" target='_blank') Facebook
  .copyright Copyright © 2021 ApiUni. All rights reserved.