header
  a.logo(href="/html/qs_index.html") 
    img(src="../images/_qs/logo.png", alt="")
  .expand(style="flex:1;")
  nav
    a(href="/html/qs_index.html").active
      //- i.iconfont.icon-shouye
      | 首页 
    a(href="/html/qs_up_list.html") 
      //- i.iconfont.icon-wodeguanzhu
      | 行家
    a(href="/html/qs_search.html") 
      //- i.iconfont.icon-sousuo
      | 搜索 
    a(href="/html/qs_about.html") 
      //- i.iconfont.icon-tanhao
      | 关于我们
    a(href="/html/qs_download.html") 
      //- i.iconfont.icon-shouji
      | 下载APP 
  a.login(href="/html/qs_login.html") 
    i.iconfont.icon-touxiang-shi

  .avatar