header
  a.logo(href="/html/qs_index.html") 
    img(src="../images/_qs/logo.png", alt="")
  .expand(style="flex:1;")
  nav
    a(href="").active
      //- i.iconfont.icon-shouye
      | 首页 
    a(href="") 
      //- i.iconfont.icon-wodeguanzhu
      | 专家
    a(href="") 
      //- i.iconfont.icon-sousuo
      | 搜索 
    a(href="") 
      //- i.iconfont.icon-tanhao
      | 关于我们
    a(href="") 
      //- i.iconfont.icon-shouji
      | 下载APP 
  a.login(href="") 
    i.iconfont.icon-touxiang-shi

  .avatar