doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CApiHub
    link(rel="stylesheet", href="../css/capihub.css")
  body
    header
      .container
        a(href="/html/apiuni.html") 
          img(src="../images/capihub.png", alt="").logo
        .nav
          a.item(href="/html/apiuni.html")  ApiUni
          a.item(href="https://devnors.org/")  Devnors
          a.item(href="/html/about.html") BitUni
          a.item(href="#blog") Blogs
          a.item(href="#milestons") Milestons
          //- a.item(href="#aboutus") About us
        .other
          a(href="" target="_blank") Talk to Expert
    section.banner
      .container
        .content
          //- .title(style="font-weight: 400") CApiHub - 
          .title Developer
          .title Ecological Blockchain
          .desc Connect developer with future，supporting growth，grow together
          a(href="" target="_blank") Talk to Expert
    section.blog#blog
      .container
        ul
          li
            a(href="") 
              .bg
              span.time 2022.10.26
              .title Powered by AI, Neurosurgery Goes High Tech in China
              .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
          li
            a(href="")     
              .bg
              span.time 2022.10.26
              .title Powered by AI, Neurosurgery Goes High Tech in China
              .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
          li
            a(href="") 
              .bg
              span.time 2022.10.26
              .title Powered by AI, Neurosurgery Goes High Tech in China
              .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
          li
            a(href="") 
              .bg
              span.time 2022.10.26
              .title Powered by AI, Neurosurgery Goes High Tech in China
              .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
          li
            a(href="") 
              .bg
              span.time 2022.10.26
              .title Powered by AI, Neurosurgery Goes High Tech in China
              .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
          li
            a(href="") 
              .bg
              span.time 2022.10.26
              .title Powered by AI, Neurosurgery Goes High Tech in China
              .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
          li
            a(href="") 
              .bg
              span.time 2022.10.26
              .title Powered by AI, Neurosurgery Goes High Tech in China
              .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
          li
            a(href="") 
              .bg
              span.time 2022.10.26
              .title Powered by AI, Neurosurgery Goes High Tech in China
              .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
        //- a(href="").more See more >>

    section.milestons#milestons
      .head MileStones
      ul.container
        li
          .title Powered by AI, Neurosurgery Goes High Tech in China
          .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
        li
          .title Powered by AI, Neurosurgery Goes High Tech in China
          .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
        li
          .title Powered by AI, Neurosurgery Goes High Tech in China
          .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
        li
          .title Powered by AI, Neurosurgery Goes High Tech in China
          .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
        li
          .title Powered by AI, Neurosurgery Goes High Tech in China
          .desc Peking Union Medical College Hospital and Tencent AI Lab have jointly released a surgical navigation system.
    //- section.aboutus#aboutus
    //-   .head About us
    //-   ul.container
    //-     li
    //-       .title Our mission
    //-       .desc
    //-     li
    //-       .title Our mission
    //-       .desc

    include ./component/footer2.jade
