doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title devnors
    link(rel="stylesheet", href="../css/devnors_developers.css")
  body 
    include ./component/devnors_header.jade
    main.devnors_developers
      .sug_cat
        a(href="") 产品经理
        a(href="") 设计师
        a(href="") 前端
        a(href="") 移动端
        a(href="") 小程序
        a(href="") 游戏
        a(href="") 后端
        a(href="") 区块链
        a(href="") AI
        a(href="") 硬件开发
        a(href="") 测试
        a(href="") DBA
        a(href="") 运维
        a(href="") 高端技术职位
      .container
        aside.filter
        content.body
          
      

    include ./component/devnors_footer.jade