doctype html
html(lang="en")
  include ./component/head.jade
  body 
    include ./component/header.jade
    main.apiuni
      section.banner
        .container 
          .left
            p.title ApiUni Customer Engagement Platform
            p.sub_title Powerful, safe and stable products and services
            p.desc One-stop empowerment from the underlying system to the upper-level client, helping enterprises achieve continuous growth in digital upgrades
            a(href="" target="_blank") Talk to Expert
    include ./component/footer.jade