doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 轻识 - 深度知识服务平台，专家自由工作
    link(rel="stylesheet", href="../css/qs_about.css")
    link(rel="stylesheet", href="//at.alicdn.com/t/c/font_2972427_7fhiesspgta.css")
  body 
    include ./component/qs_header.jade
    main.qs_about
      .title 关于轻识
      .desc 领先的深度知识服务平台。通过行业专家和AI模型创作深度知识内容，平台提供细分行业优质服务激励UPGC(User-Professional Generated Content)，通过不断研发整合新技术升级AIGC(Artificial Intelligence Generated Content)。轻识重构互联网广告变现商业模式，坚持优质内容免费，服务收费。在轻识，您将简单直观的获得最纯粹的知识内容和信息，与我们一起共建全新的AI互联网世界。
      .contact 
        div 联系我们
        p 电话: 0571-28120931
        p 工作时间: 周一至周五/上午9:00至18:00
      
    include ./component/qs_footer.jade