doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 轻识 - 深度知识服务平台，专家自由工作
    link(rel="stylesheet", href="../css/qs_login.css")
    link(rel="stylesheet", href="//at.alicdn.com/t/c/font_2972427_7fhiesspgta.css")
  body 
    include ./component/qs_header.jade
    main.qs_login
      .container
        .left(style="background-image:url(../images/qs_login.png)")
        .right
          .form
            a.link(href="/html/qs_login_scan.html") 扫码登录
            .logo
              //- img(src="../images/_qs/logo.png", alt="")
              p 账号登录
            input(type="text" placeholder='手机号')
            .code 
              input(type="text" placeholder='验证码')
              button 发送验证码
            button 登录/注册
          p 下载应用
          .download 
            a(href="") 
              img(src="../images/qs_ios.png", alt="")
            a(href="") 
              img(src="../images/qs_android.png", alt="")

    include ./component/qs_footer.jade