doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 轻识 - 深度知识服务平台，专家自由工作
    link(rel="stylesheet", href="../css/qs_login.css")
    link(rel="stylesheet", href="//at.alicdn.com/t/c/font_2972427_7fhiesspgta.css")
  body 
    include ./component/qs_header.jade
    main.qs_register
      .container
        .left(style="background-image:url(../images/qs_login.png)")
        .right
          .form
            .logo
              //- img(src="../images/_qs/logo.png", alt="")
              p 账号注册
            input(type="text" placeholder='手机号或邮箱')
            input(type="text" placeholder='请输入密码')
            input(type="text" placeholder='再次输入密码')
            button 注册
          .form2
            a(href="/html/qs_login.html") 
              | 已有帐户？
              span 立即登录
          p 下载应用
          .download 
            a(href="") 
              img(src="../images/qs_ios.png", alt="")
            a(href="") 
              img(src="../images/qs_android.png", alt="")

    include ./component/qs_footer.jade