doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 轻识 - 深度知识服务平台，专家自由工作
    link(rel="stylesheet", href="../css/qs_up.css")
    link(rel="stylesheet", href="//at.alicdn.com/t/c/font_2972427_mubbg3q3f4j.css")
  body 
    include ./component/qs_header.jade
    main.qs_up
      .userinfo
        .avatar(style="background-image:url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60)")
        .right
          .top
            span.username 刘玉新
            span.title &nbsp;· 高级Java工程师
            .expand
            button.active 关注
            button 已关注
          .middle 
            span.item 
              span.number 22
              | 获赞
            span.item 
              span.number 34
              | 粉丝
            span.item 
              span.number 459
              | 关注
          .desc 
            | 58官方技术号，58技术创新、分享与交流平台 ·&nbsp;
            a(href="") 寻求合作
      .menu_list
        .container
          .item 作品52
          .item 喜欢
          .item 收藏
          .item.active 详细资料
      .qs_up_detail
        .section
          .section-title 简介
          .section-body 
            | 程序员客栈，是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。同时，程序员客栈汇聚了全球优秀华人程序员，集中展示程序员的个人履历，作品，技能以及专业社区影响力，方便创业者寻找到技术员工甚至未来的技术合伙人。
            a(href="") 查看企业信息 
        .section
          .section-title 产品和解决方案（10）
          .section-body.product_list
            a.product_item(href="") 
              .icon(style='background-image:url(https://lf1-cdn2-tos.bytegoofy.com/bydesign/iconparksite/static/media/logo_with_name.598fc011.svg)')
              .right
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.product_item(href="") 
              .icon(style='background-image:url(https://lf1-cdn2-tos.bytegoofy.com/bydesign/iconparksite/static/media/logo_with_name.598fc011.svg)')
              .right
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.product_item(href="") 
              .icon(style='background-image:url(https://lf1-cdn2-tos.bytegoofy.com/bydesign/iconparksite/static/media/logo_with_name.598fc011.svg)')
              .right
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.product_item(href="") 
              .icon(style='background-image:url(https://lf1-cdn2-tos.bytegoofy.com/bydesign/iconparksite/static/media/logo_with_name.598fc011.svg)')
              .right
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.product_item(href="") 
              .icon(style='background-image:url(https://lf1-cdn2-tos.bytegoofy.com/bydesign/iconparksite/static/media/logo_with_name.598fc011.svg)')
              .right
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.product_item(href="") 
            a.product_item(href="") 
            a.product_item(href="") 

        .section
          .section-title 核心成员（23）
          .section-body.up_list
            a.up_item(href="") 
              //- .icon(style='background-image:url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60)')
              .icon.name 陈
              .right
                .username 陈世杰
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.up_item(href="") 
              .icon(style='background-image:url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60)')
              .right
                .username 陈世杰
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.up_item(href="") 
              .icon(style='background-image:url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60)')
              .right
                .username 陈世杰
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.up_item(href="") 
              .icon(style='background-image:url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60)')
              .right
                .username 陈世杰
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.up_item(href="") 
              .icon(style='background-image:url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60)')
              .right
                .username 陈世杰
                .title 程序员客栈
                .desc 是互联网远程工作中心，程序员的经纪人。雇佣BAT级别开发者为创业者开发产品；24个小时之内启动项目；成功率翻倍，开发成本减半。
            a.up_item(href="") 
            a.up_item(href="") 
            a.up_item(href="") 
        .section
          .section-title 发展历史
          .section-body.timeline
            .timenode
              .year
                span 2010
              .dot.is-type-1
              .date 2010.10
              .info
                .title
                  .tag.is-primary.is-light 里程碑
                  .cont 成立
                // 
            .timenode
              .year
                span 2013
              .dot.is-type-3
              .date 2013.10
              .info
                .title
                  .tag.is-golden.is-light 融资
                  .cont
                    | 获得
                    em A
                    | 轮融资未披露
                .participants
                  .dropdown.dropdown-menu-animation.is-hoverable.is-mobile-modal(postion='is-top-right')
                    .dropdown-trigger(role='button' tabindex='0' aria-haspopup='true')
                      .item
                        img(src='https://img5.tianyancha.com/logo/jigou/93675a434776d0db1d77150e23902af0.png@!n_200x200')
                        .name 腾讯投资
        .section
          .section-title 工商信息
          .section-body.saic-info
            .saci-item
              .title 统一社会信用代码
              .desc 91330106673959654P
            .saci-item
              .title 纳税人识别号
              .desc 91330106673959654P
            .saci-item
              .title 注册资本
              .desc 100000万人民币
            .saci-item
              .title 实缴资本
              .desc 5000万人民币
            .saci-item
              .title 注册地址
              .desc 浙江省杭州市西湖区转塘科技经济区块12号
            .saci-item
              .title 登记机关
              .desc 杭州市西湖区市场监督管理局
            .saci-item
              .title 企业类型
              .desc 有限责任公司（非自然人投资或控股的法人独资）
            .saci-item
              .title 行业
              .desc 软件和信息技术服务业
            .saci-item
              .title 人员规模
              .desc 1000-4999人
            .saci-item
              .title 参保人数
              .desc 1112
    include ./component/qs_footer.jade
  script
    include waterfall.min.js
    include script.js 