doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 轻识 - 深度知识服务平台，专家自由工作
    link(rel="stylesheet", href="../css/qs_up_list.css")
    link(rel="stylesheet", href="//at.alicdn.com/t/c/font_2972427_mubbg3q3f4j.css")
  body 
    include ./component/qs_header.jade
    main.qs_up_list
      .qs_up_list_nav1
        a(href="/html/qs_category_detail.html").active 推荐
        a(href="/html/qs_category_detail.html") 关注
        a(href="/html/qs_category_detail.html") 心理
        a(href="/html/qs_category_detail.html") 职业发展
        a(href="/html/qs_category_detail.html") 行业经验
        a(href="/html/qs_category_detail.html") 互联网
        a(href="/html/qs_category_detail.html") 生活服务
        a(href="/html/qs_category_detail.html") 创业融资
        a(href="/html/qs_category_detail.html") 教育学习
        a(href="/html/qs_category_detail.html") 投资理财
        a(href="/html/qs_category.html") 更多
      .qs_up_list_nav2
        a(href="/html/qs_category_detail.html").active 推荐
        a(href="/html/qs_category_detail.html") 关注
        a(href="/html/qs_category_detail.html") 心理
        a(href="/html/qs_category_detail.html") 职业发展
        a(href="/html/qs_category_detail.html") 行业经验
        a(href="/html/qs_category_detail.html") 互联网
        a(href="/html/qs_category_detail.html") 生活服务
        a(href="/html/qs_category_detail.html") 创业融资
        a(href="/html/qs_category_detail.html") 教育学习
        a(href="/html/qs_category_detail.html") 投资理财
        a(href="/html/qs_category.html") 更多
      .qs_post_list
        mixin service
          .item.service
            a.content(href="/html/qs_server_detail.html") 
              div.top 
                div.img(style="background-image:url(https://t9.baidu.com/it/u=2141024258,2454155376&fm=74&app=80&size=f256,256&n=0&f=PNG?sec=1683738000&t=4fc0fd4ca8a1b216ac538bbd362bafcc)")
                .title 云原生技术中台解决方案
              .desc 云原生技术中台解决方案，基于云原生架构
              .price ¥99.9
            a.up_info(href="") 
              .avatar(style="background-image:url(https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60)")
              .username 张三
              .expand
              .likes
                i.iconfont.icon-aixin
              span.num 3123
        +service
        +service
        +service
        +service
        +service
        +service
        +service
        +service
        +service
        +service
        +service
        +service
        +service
        +service

    include ./component/qs_footer.jade
  script 
    include waterfall.min.js
    include script.js 