doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 轻识 - 深度知识服务平台，专家自由工作
    link(rel="stylesheet", href="../css/qs_up.css")
    link(rel="stylesheet", href="//at.alicdn.com/t/c/font_2972427_mubbg3q3f4j.css")
  body 
    include ./component/qs_header.jade
    main.qs_up
      .userinfo
        .avatar(style="background-image:url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60)")
        .right
          .top
            span.username 刘玉新
            span.title &nbsp;· 高级Java工程师
            .expand
            button.active 关注
            button 已关注
          .middle 
            span.item 
              span.number 22
              | 获赞
            span.item 
              span.number 34
              | 粉丝
            span.item 
              span.number 459
              | 关注
          .desc 
            | 58官方技术号，58技术创新、分享与交流平台 ·&nbsp;
            a(href="") 寻求合作
      .menu_list
        .container
          .item.active 作品52
          .item 喜欢
          .item 收藏
      
      .empty
        img(src="/images/_qs/empty.svg", alt="")
        //- p 暂无数据
        
    include ./component/qs_footer.jade
  script 
    include waterfall.min.js
    include script.js 